@import "../../scss/mixins";
@import "../../scss/variables";

.card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.modal {
  &__image {
    display: flex;
    justify-content: center;
  }
}

.card {
  width: calc(100% / 3 - 1rem);
  padding: 2rem 1rem;
  margin: 1rem 0.5rem;
  border: 2px solid black;
  transition: 0.3s;
  min-height: 280px;
  transition: all 0.2s ease-in-out;
  position: relative;

  @media all and (max-width: 768px) {
    width: calc(100% / 2 - 1rem);
  }

  @media all and (max-width: 768px) {
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
  }

  img {
    max-width: 90%;
    margin: 0 auto;
    display: block;
    border-radius: 100%;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: transparent;
    transition: all 0.3s ease-in-out;
    font-weight: 900;
  }

  &:hover &__title {
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;

    color: black;
  }

  @include breakpoint(desktop) {
    margin-bottom: 0;
  }
}

.ReactModal__Content.ReactModal__Content--after-open {
  background-color: $primary-color !important;
  display: flex;
  align-items: center;
  padding: 5rem !important;
  border: 3px solid black !important;

  @media all and(max-width: 768px) {
    padding: 1rem !important;
  }
}

.ReactModal__Overlay {
  z-index: 3;
}

.modal__info {
  width: 50%;
  padding: 2rem;
  @media all and(max-width: 768px) {
    width: 100%;
    padding: 0.5rem;
  }
  .card__title {
    font-size: 6rem;
    color: black;
    -webkit-text-stroke: none;

    @media all and(max-width: 768px) {
      font-size: 3rem;
    }
  }
}

.modal--open {
  display: flex;

  @media all and(max-width: 768px) {
    flex-direction: column;
  }
}

.modal__image {
  width: 50%;

  @media all and(max-width: 768px) {
    width: 100%;
  }

  img {
    max-width: 100%;
  }
}
