.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 1rem 2rem 1rem;
  box-sizing: border-box;

  @media all and (max-width: 768px) {
    padding: 0 1rem;
  }

  .logo {
    svg {
      width: 40px;
    }
  }

  &__elements {
    display: flex;
    &_option {
      padding: 0.5rem;
      font-weight: bold;
      background-color: transparent;
      border: none;
      letter-spacing: 5px;
      font-size: 0.8rem;
      transition: all 0.3s ease;
      backface-visibility: hidden;
      transform-origin: center;
      &:first-of-type {
        margin-right: 10px;
      }

      &:hover {
        transform: scale(1.02) translateY(-2px);
      }
    }
  }
}
